:root {
  color-scheme: light;
  --bg-light: #E9EAF0;
  --bg-linear-light: linear-gradient(153.43deg, #D9DAE3 17.71%, #F4F5F8 83.33%);
  --txt-primary-color-light: #4F4F4F;
  --txt-secondary-color-light: #828282;
  --shadow-base-part1--light: -9.15368px -9.15368px 18.3074px rgba(255, 255, 255, 0.7);
  --shadow-base-part2--light: 9.15368px 9.15368px 18.3074px rgba(189, 200, 223, 0.7);
  --shadow-base-part3--light: 0px 0px 0px transparent;
  /** stub*/
  
  
  color-scheme: dark;
  --bg-dark: linear-gradient(90deg, #2A2D32 5.15%, #131313 89.49%);
  --bg-linear-dark:  linear-gradient(166.29deg, rgba(60, 67, 72, 0.46) 5.88%, rgba(28, 30, 33, 0.46) 75.73%);
  --txt-primary-color-dark: #FFFFFF;
  --txt-secondary-color-dark: #FFFFFF;
  --shadow-base-part1--dark: -5.40932px -7.43782px 12.171px rgba(255, 255, 255, 0.02);
  --shadow-base-part2--dark: -4.05699px -4.05699px 8.11398px rgba(255, 255, 255, 0.25);
  --shadow-base-part3--dark: 4.05699px 4.05699px 8.11398px rgba(0, 0, 0, 0.25);


  /* main variables */
  --bg-primary: var(--bg-light);
  --bg-linear: var(--bg-linear-light);
  
  --txt-primary-color: var(--txt-primary-color-light);
  --txt-secondary-color: var(--txt-secondary-color-light);
  
  --shadow-base-part1: var(--shadow-base-part1--light);
  --shadow-base-part2: var(--shadow-base-part2--light);
  --shadow-base-part3: var(--shadow-base-part3--light);
  
  
  
  
  --padding-step: 5px;
  --padding: 10px;
  --padding-double: calc(var(--padding) * 2);
  --border-radius: 10px;
}


html {
  font-size: 14px;
  color: var(--txt-primary-color);
}

html::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}

html::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

html::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

html::-webkit-scrollbar-corner {
  background-color: transparent
}

body {
  margin-block: 0;
  background: var(--bg-primary);
  font-family: 'Roboto Flex', sans-serif;
  font-size: 14px;
  line-height: 19px;
}

html[color-scheme="dark"] {
  --bg-primary: var(--bg-dark);
  --bg-linear: var(--bg-linear-dark);
  
  --txt-primary-color: var(--txt-primary-color-dark);
  --txt-secondary-color: var(--txt-secondary-color-dark);
  
  --shadow-base-part1: var(--shadow-base-part1--dark);
  --shadow-base-part2: var(--shadow-base-part2--dark);
  --shadow-base-part3: var(--shadow-base-part3--dark);
}