:root {
    --bg-light: #E9EAF0;
    --txt-primary-color-light: #4F4F4F;
    --txt-secondary-color-light: #828282;

    --bg-primary: var(--bg-light);
    --txt-primary-color: var(--txt-primary-color-light);
    --txt-secondary-color: var(--txt-secondary-color-light);

    --padding-step: 5px;
    --padding: 10px;
    --padding-double: calc(var(--padding) * 2);

    --border-radius: 10px;

    --tablet: 1020px;
}

html {
    font-size: 14px;
    color: var(--txt-primary-color)
 }

body {
    margin-block: 0;
    background: var(--bg-primary);
    font-family: 'Roboto Flex', sans-serif;
    font-size: 14px;
    line-height: 19px;
}
